*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.15);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

a {
    text-decoration: none;
}

.section__title {
    margin-bottom: 1em;
    text-align: center;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    padding-top:1em;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 1;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
.section__subtitle--something {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
.section__subtitle--cert {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position:relative;
        z-index: 1;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 3;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(img/background-services.jpg);
    background-size: cover;
    /*background-blend-mode: lighten;*/
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-dark);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
    width: 65%;
    height: 80%;
    
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.15);
    opacity: 0.5;
}

/* My Badges */
.my-badge {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.badge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.badge_item {
    background: var(--clr-dark);
    overflow: hidden;
    padding: 25px;
}

.badge_img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
    width: 200px;
    height: 200px;
    
}

.badge_item:focus {
    position: relative;
    z-index: 2;
}

.badge_img:hover,
.badge_item:focus .badge_img {
    transform: scale(1);
    opacity: 0.5;
}
/*My Certicicates*/

.my-certificates {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.certificate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.certificate__item {
    background: var(--clr-light);
    overflow: hidden;
}

.certificate__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;

}

.certificate__item:focus {
    position: relative;
    z-index: 2;
}

.certificate__item:hover,
.certificate__item:focus .certificate__img {
    transform: scale(1.2);
    opacity: 0.5;
}

hr {
    border: 0;
    height: 0.4vw;
    width: 100%;
    position: relative;
    background: linear-gradient(to right,
        var(--clr-light),
        var(--clr-accent),
        var(--clr-dark));
    margin: 4% auto;
    z-index: -10;
    opacity: 0.5;
}

/* Projects */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
}

.slide-img {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.project-img {
    width: 50%;
    margin-bottom: 5%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.project-description > p {
    text-indent: 0;
    margin: 1% 25% 5% 25%;
    width: 50%;
    font-size: 1.4rem;
}

.hidden {
    position: absolute;
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.project-description > h2 > a:hover {
    color: var(--clr-accent);
    cursor: pointer;
}

.project-description > h2 > a {
    font-size: 2.5rem;
    color: black;
    margin: 0 25%;
}

.slide-img > button {
    background: var(--clr-light);
    border-radius: 1em;
    margin: 2%;
}

.slide-img > button:hover {
    background: var(--clr-accent);
    cursor: pointer;
}

.slide-img > button > svg:hover {
    stroke: black;
}

/*contacts*/
#contacts {
    border-width: 0;
    position: relative;
    bottom: 0;
    margin: 0 auto;
}

#contacts > h2 {
    width: 50%;
    text-align: center;
    text-indent: 0;
    margin: 2% 25% 5% 25%;
    font-size: 2.5vw;
}

.social-media {
    display: flex;
    text-indent: 0;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.social-media > li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
}

li > svg:hover {
    stroke: var(--clr-accent);
}

#discord > svg > path {
    transition: fill 0.6s;
    padding: 0.1vw;
}

#discord > svg > path:hover {
    fill: var(--clr-accent);
}

.active {
    animation: show 0.5s;
    animation-fill-mode: both;
}
@media only screen and (max-width: 768px) {
    #contacts > h2, .project-description > h2 > a {
        font-size: 4.5vw;
        margin-bottom: 1.5%;
    }

    .project-description > p {
        font-size: 3vw;
    }

    .social-media > li {
        width: 25%;
    }

    .portfolio__item {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
    #contacts > h2 {
        margin-bottom: 0.5%;
    }
}


/*footer*/
@keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}

.email {
    font-size: 2vw;
    text-align: center;
    margin: 2%;
    padding: 0.5%;
}

.email:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

.email > a {
    color: var(--clr-dark);
    transition: color 0.25s ease-in;
}

.email > a:hover {
    color: var(--clr-accent);
}

/*certificate popups*/
.trigger{
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 10%;
	display: block;
}

.popup__img > img{
    margin: 0 auto;
	color: var(--clr-accent);
}

/* Start popup css */

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

@-webkit-keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

.popup__check {
	display: none;
}

.popup__base, .popup__bg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
    cursor: zoom-out;
    z-index: 100;
}

.popup__base {
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.popup__check:checked + .popup__base {
	display: block;
	animation-name: bg;
    animation-duration: .5s;
	animation-fill-mode: forwards;
	-webkit-animation-name: bg;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
}

.popup__inner {
	position: absolute;
	z-index: 100;
	width: 60%;
	height: auto;
	background-color: #fff;
    top: 20%;
    padding: 1.5%;
	left: 20%;
	display: block;
    cursor: default;
}

.popup__check:checked + .popup__base .popup__inner{
	animation-name: inner;
    animation-duration: .5s;
	animation-fill-mode: forwards;
	-webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
}

.popup__img {
	width: 95%;
    height: auto;
    max-height: 100%;
	padding-left: 7%;
	padding-right: 2.5%;
    overflow: auto;
    z-index: 2;
}

.popup__calign {
	float: right;
	padding-right: 60px;
	font-size: 50px;
}

.popup__close {
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: block;
	position: absolute;
	z-index: 10;
    text-align: right;
    margin-left: 1%;
    cursor: pointer;
    transition: transform 0.25s ease-in;
	color: var(--clr-accent);
}

.popup__close:hover {
    transform: scale(2) rotate(45deg);
}

.trigger > h2 {
    font-size: 1.5rem;
    text-transform: none;
    transition: border-bottom 0.25s ease-in-out;
}

.trigger > h2:hover {
    border-bottom: 0.5rem solid var(--clr-accent);
    width: 80%;
    margin: 0 auto;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🖱️</text></svg>")
            16 0,
        auto; 
}
